.layout
	width 1120px
	margin 0 auto

	+below(1200px)
		width auto
		margin 0 30px
	
	+below(320px)
		margin 0 15px
	
.container-grey
	background-color #f4f4f4

.main
	
	&__intro
		display flex
		justify-content space-between
		margin-bottom 55pr
		padding-top 75pr
		
		+above(768px)
			margin-bottom 85pr
		
	&__block
		display flex
		
		+above(1024px)
			width calc((100% - 30px / 2) * 2/3)
		
		img
			margin-right 15pr
			
			+above(768px)
				display none

	&__title
		@extend $h-reset
		font-size 36pr
		font-weight 700
		line-height 1.165
		
		+above(768px)
			font-size 48pr
		
		+below(320px)
			font-size 32pr
		

		span
			display none
			font-size 24pr
			font-weight 400
			
			+above(1024px)
				display block
				
	&__links
		display none
		width calc((100% - 30px * 2) * 1/3)
		
		+above(1024px)
			display block
	
	&__links-item
		@extend $link-reset
		position relative
		display block
		font-size 16pr
		font-weight 600

		& + &
			margin-top 20pr
		
		&._arrow
			&:after
				content ''
				position absolute
				top 50%
				right 0
				transform translateY(-50%)
				retina_sprite($s-arrow)
	
	&__active
		padding-bottom 75pr
		padding-top 75pr
		
		+above(768px)
			display flex
			justify-content space-between
			padding-bottom 155pr
		
.main-news
	margin-bottom 20px
	
	+above(768px)
		display flex
		justify-content space-between
		margin-bottom 30px

	&__image
		margin-bottom 15pr
		
		+above(768px)
			width calc((100% - 30px / 2) * 2/3)
			margin-bottom 0

		img
			max-width 100%
	
	&__wrap	
		+above(768px)
			width calc((100% - 30px * 2) * 1/3)
			display flex
			flex-direction column
			justify-content space-between
	
	&__title
		@extend $h-reset
		margin-bottom 10px
		font-size 36pr
		font-weight 600
		line-height 1.25
		
		+above(768px)
			margin-bottom 0
			font-size 32pr
			
		+below(320px)
			font-size 32pr
	
	&__date
		font-size 28pr
		color #707070
		
		+above(768px)
			font-size 14pr

.news-row
	padding-bottom 35px
	
	+above(768px)
		display flex
		justify-content space-between
		margin-bottom 75pr
		padding-bottom 0

.news
	& + &
		margin-top 30pr
		
		+above(768px)
			margin-top 0
			
	+above(768px)
		width calc((100% - 30px * 2) * 1/3)
	
	&__wrap
		+above(768px)
			display flex
			flex-direction column
			justify-content space-between
			min-height 180pr

	&__image
		display none
		
		+above(768px)
			display block
			margin-bottom 30pr
		
		img
			max-width 100%
	
	&__title
		@extend $h-reset
		margin-bottom 20pr
		font-size 36pr
		font-weight 600
		line-height 1.4
		
		+above(768px)
			font-size 20pr
		
		+below(320px)
			font-size 32pr

.services, .parts
	&__title
		margin-bottom 30pr
		font-size 40pr
		font-weight 700
		
		+above(768px)
			font-size 32pr

.services
	margin-bottom 75pr
		
	+above(768px)
		width calc((100% - 30px / 2) * 2/3)
		margin-bottom 0

	&__item
		display flex
		justify-content space-between
		align-items center
		padding 30pr
		font-size 26pr
		font-weight 600
		background-color #ffffff
		
		+above(768px)
			font-size 20pr
		
		& + &
			margin-top 5px
			
	&__arrow
		@extend $link-reset
		display block
		width 44pr
		height 49pr
		background-image url(../img/arrow-s.png)
		background-repeat no-repeat
		background-position 0 0
		background-size cover
	
	&__gos-text
		margin-top 5pr
		font-size 14pr
		font-weight 400
		color #707070
		
.parts
	+above(768px)
		width calc((100% - 30px * 2) * 1/3)
	
	&__appeal
		padding 30pr
		font-size 26pr
		font-weight 600
		color #ffffff
		background-color #689f38
		
		+above(768px)
			font-size 14pr
			
		+above(1024px)
			font-size 16pr
	
	&__item
		position relative
		
		& + &
			margin-top 45pr
			
			+above(768px)
				margin-top 30pr
		
		&:after
			content ''
			position absolute
			top 50%
			right 0
			transform translateY(-50%)
			retina_sprite($s-arrow-w)
			
	
	&__btn
		@extend $link-reset
		display inline-block
		width 100%
		margin-top 45pr
		padding 15pr 0
		text-align center
		color #689f38
		background-color #ffffff
		border-radius 3px
		
		+above(768px)
			margin-top 30pr
		