extends ../../common/jade/_default

block pageInfo
	- var page = {}
	- page.id = 'index'
	- page.title = 'HuskyJam Start kit'
	- page.description = page.title

block og
	//- open graph
	+og({type: 'website', title: page.title, description: page.description, url: '', img: '', locale: ''})

block content

	main.main
		//- include ../../components/intro/_old-version.jade
		//- include ../../components/header/_header.jade


		.layout

			.main__intro
				h2.main__title
					| Министерство Труда<br>и социальной защиты
					br
					span Российской Федерации

				.main__links
					a(href="").main__links-item Общественная приемная
					a(href="").main__links-item Популярные сервисы
					a(href="").main__links-item Ссылка на выбор


			article.main-news
				.main-news__image
					img(src="img/item.jpg", alt="")

				.main-news__wrap
					h3.main-news__title Министр Максим Топилин представил три обсуждаемых варианта повышения МРОТ
					.main-news__date 3 марта 2017 года, 14:30

			.main__row
				article.news
					.news__image
						img(src="img/item1.jpg", alt="")

					.news__wrap
						h3.news__title Телефонный разговор с Премьер-министром Венгрии Виктором Орбаном
						.news__date 3 марта 2017 года, 14:30

				article.news
					.news__image
						img(src="img/item2.jpg", alt="")

					.news__wrap
						h3.news__title Руководители социально-трудовых ведомств России и Киргизской Республики обсудили вопросы сотрудничества между странами
						.news__date 3 марта 2017 года, 14:30

				article.news
					.news__image
						img(src="img/item3.jpg", alt="")

					.news__wrap
						h3.news__title Министр Максим Топилин провел заседание рабочей группы по социальным вопросам Республики Крым и г. Севастополя	
						.news__date 3 марта 2017 года, 14:30

			
		.container-grey
			.layout

				.main__active
					.services
						.services__title Услуги

						.services__items
							.services__item Популярная услуга 1
							.services__item Популярная услуга 2
							.services__item Популярная услуга 3
							.services__item Популярная услуга 4
							.services__item
					.parts
						.parts__title Участвуйте	




