footer.footer
	.footer__col.footer__name
		a(href="").footer__logo
		h2
			span Министерство Труда<br>и социальной защиты
			br
			span Российской Федерации


	.footer__col.footer__links
		nav
			ul
				l1
					a(href="")
				l1
					a(href="")
				l1
					a(href="")
				l1
					a(href="")
				l1
					a(href="")
				l1
					a(href="")
				l1
					a(href="")

	.footer__col.footer__desc
		.footer__desc-contacts
		.footer__desc-copyright