.old-version
	.old-version__beta Beta

	.old-version__warning
		p.old-version__warning-text Внимание! Данная версия сайта находится в разработке. 
			a(href="").old-version__warning-link Перейти на старую версию сайта

	a(href="").old-version__close Закрыть