.old-version
	display flex
	justify-content space-between
	align-items center
	padding 10pe 20pe
	font-size 14pe
	color white
	background black
	
	&__warning-link, &__close
		@extend $link-reset
	
	&__beta
		padding 5px
		font-size 10pe
		font-weight 700
		text-transform uppercase
		background #333333
		border-radius 3px
	
	&__warning-text
		color #888888
	
	&__warning-link
		font-weight 700
		color white