header.header
	.header__row
		



	.header__row._third
		a(href="").logo
			img(src="", alt="")

		nav
			ul
				li
					a(href="") О Министерстве
				li
					a(href="") Деятельность
				li
					a(href="") Документы
				li
					a(href="") Госуслуги
				li
					a(href="") Открытое министерство
				li
					a(href="") Контакты
				li
					a(href="") ...